body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container1 {
    display: flex;
    flex-direction: none;
    align-items: left;
    justify-content: left;
    width: 760px;
}
.container2 {
    display: flex;
    flex-direction: none;
    align-items: left;
    justify-content: left;
    width: 760px;
}

.feedback {
    position: absolute;

}
.feedback img {
    height: 200px;
    position: absolute;
    border-radius: 100px;
    top: -210px;
    left: 50px;
}
.feedback p {
    font-size: 28px;
    color: var(--darkBlue);
    font-weight: 300;
}

.name {
    color: var(--darkBlue);
    padding-top: 30px;
}
/* .testimonials p{
    font-size: 18px;
    color: rgb(55, 43, 191);
    font-weight: 200px;
} */